in24seven/Web References/timeRef/timeservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://24sevenOffice.com/webservices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://24sevenOffice.com/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://24sevenOffice.com/webservices">
      <s:element name="GetTimeSettings">
        <s:complexType />
      </s:element>
      <s:element name="GetTimeSettingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTimeSettingsResult" type="tns:ArrayOfKeyValuePair" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfKeyValuePair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePair" nillable="true" type="tns:KeyValuePair" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeyValuePair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetWorkTypeList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Wts" type="tns:WorkTypeSearch" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WorkTypeSearch">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" default="none" name="Active" type="tns:TriState" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="ProjectId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TriState">
        <s:restriction base="s:string">
          <s:enumeration value="unknown" />
          <s:enumeration value="none" />
          <s:enumeration value="True" />
          <s:enumeration value="False" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetWorkTypeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWorkTypeListResult" type="tns:ArrayOfWorkType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWorkType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WorkType" nillable="true" type="tns:WorkType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WorkType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Invoiceable" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="-79228162514264337593543950335" name="Price" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="ProductId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProjectList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ps" type="tns:ProjectSearch" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProjectSearch">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" default="false" name="MyProjects" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="AllOpenProjects" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="CustomerId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="" name="Search" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="0001-01-01T00:00:00" name="ChangedAfter" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" default="0001-01-01T00:00:00" name="StartedAfter" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" default="0001-01-01T00:00:00" name="StartedBefore" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProjectListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectListResult" type="tns:ArrayOfProject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Project" nillable="true" type="tns:Project" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Project">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="Enabled" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="" name="RawName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NameDisplay" type="tns:ProjectNameType" />
          <s:element minOccurs="0" maxOccurs="1" default="true" name="QuickListed" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="0001-01-01T00:00:00" name="DateChanged" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" default="0001-01-01T00:00:00" name="DateStart" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" default="0001-01-01T00:00:00" name="DateStop" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="CustomerId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="Owner" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="Pipeline" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="TypeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="" name="TypeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="StatusId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="" name="StatusName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="none" name="NeedApproval" type="tns:TriState" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="MultiCustomer" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="WorkTypeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="" name="WorkTypeName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeReg" type="tns:TimeRegType" />
          <s:element minOccurs="0" maxOccurs="1" default="-32768" name="Version" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" default="none" name="IsFoldersAdded" type="tns:TriState" />
          <s:element minOccurs="0" maxOccurs="1" name="Participants" type="tns:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ProjectNameType">
        <s:restriction base="s:string">
          <s:enumeration value="unknown" />
          <s:enumeration value="Plain" />
          <s:enumeration value="Company_Project" />
          <s:enumeration value="Project_Company" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="TimeRegType">
        <s:restriction base="s:string">
          <s:enumeration value="unknown" />
          <s:enumeration value="WorkType" />
          <s:enumeration value="Task" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProjectData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Pds" type="tns:ProjectDataSearch" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProjectDataSearch">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProjectId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="ContactId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="ProjectOnly" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProjectDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectDataResult" type="tns:ProjectData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProjectData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Project" type="tns:Project" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkTypes" type="tns:ArrayOfWorkType" />
          <s:element minOccurs="0" maxOccurs="1" name="Tasks" type="tns:ArrayOfTask" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTask">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Task" nillable="true" type="tns:Task" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Task">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="0001-01-01T00:00:00" name="DateStart" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" default="0001-01-01T00:00:00" name="DateStop" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Overtime" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="Parent" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="Priority" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="Project" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="ProjectLink" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="WorkTypeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="Estimate" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Registered" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Participants" type="tns:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveHour">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Hour" type="tns:Hour" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Hour">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" default="-9223372036854775808" name="Id" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="TypeOfWorkId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="0001-01-01T00:00:00" name="StartTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" default="0001-01-01T00:00:00" name="StopTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" default="0" name="TotalHours" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" default="0" name="TotalHoursInvoice" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="ContactId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="ProjectId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="none" name="Locked" type="tns:TriState" />
          <s:element minOccurs="0" maxOccurs="1" default="none" name="Approved" type="tns:TriState" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="ApprovedBy" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="ProjectTaskId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Costs" type="tns:ArrayOfCost" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="NeedApproval" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="SalaryTypeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="CustomerId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="OrderId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="-79228162514264337593543950335" name="Price" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCost">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cost" nillable="true" type="tns:Cost" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cost">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DateRegistered" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SupplierCompanyId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="InPrice" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProjectId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="-79228162514264337593543950335" name="Price" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="CustomerId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="ContactId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveHourResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveHourResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteHour">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Hour" type="tns:Hour" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteHourResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteHourResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cost" type="tns:Cost" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCostResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCosts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="costSearchParameters" type="tns:CostSearchParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CostSearchParameters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="ProjectId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="ContactId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCostsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCostsResult" type="tns:ArrayOfCost" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHours">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hs" type="tns:HourSearch" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HourSearch">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" default="none" name="Status" type="tns:HourStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="ContactId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProjectId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IncludeSalaryType" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="0001-01-01T00:00:00" name="StartTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" default="0001-01-01T00:00:00" name="StopTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="HourStatus">
        <s:restriction base="s:string">
          <s:enumeration value="none" />
          <s:enumeration value="Registered" />
          <s:enumeration value="Locked" />
          <s:enumeration value="Approved" />
          <s:enumeration value="Rejected" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetHoursResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHoursResult" type="tns:ArrayOfHour" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHour">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Hour" nillable="true" type="tns:Hour" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSalaryTypes">
        <s:complexType />
      </s:element>
      <s:element name="GetSalaryTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalaryTypesResult" type="tns:ArrayOfSalaryType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSalaryType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SalaryType" nillable="true" type="tns:SalaryType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SalaryType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetHoursForApproval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="approvalSearchParameters" type="tns:ApprovalSearchParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApprovalSearchParameters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="ContactId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="-2147483648" name="ProjectId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetHoursForApprovalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHoursForApprovalResult" type="tns:ArrayOfHour" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTimeSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTimeSettings" />
  </wsdl:message>
  <wsdl:message name="GetTimeSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTimeSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkTypeListSoapIn">
    <wsdl:part name="parameters" element="tns:GetWorkTypeList" />
  </wsdl:message>
  <wsdl:message name="GetWorkTypeListSoapOut">
    <wsdl:part name="parameters" element="tns:GetWorkTypeListResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectListSoapIn">
    <wsdl:part name="parameters" element="tns:GetProjectList" />
  </wsdl:message>
  <wsdl:message name="GetProjectListSoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectListResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetProjectData" />
  </wsdl:message>
  <wsdl:message name="GetProjectDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectDataResponse" />
  </wsdl:message>
  <wsdl:message name="SaveHourSoapIn">
    <wsdl:part name="parameters" element="tns:SaveHour" />
  </wsdl:message>
  <wsdl:message name="SaveHourSoapOut">
    <wsdl:part name="parameters" element="tns:SaveHourResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteHourSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteHour" />
  </wsdl:message>
  <wsdl:message name="DeleteHourSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteHourResponse" />
  </wsdl:message>
  <wsdl:message name="AddCostSoapIn">
    <wsdl:part name="parameters" element="tns:AddCost" />
  </wsdl:message>
  <wsdl:message name="AddCostSoapOut">
    <wsdl:part name="parameters" element="tns:AddCostResponse" />
  </wsdl:message>
  <wsdl:message name="GetCostsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCosts" />
  </wsdl:message>
  <wsdl:message name="GetCostsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCostsResponse" />
  </wsdl:message>
  <wsdl:message name="GetHoursSoapIn">
    <wsdl:part name="parameters" element="tns:GetHours" />
  </wsdl:message>
  <wsdl:message name="GetHoursSoapOut">
    <wsdl:part name="parameters" element="tns:GetHoursResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalaryTypesSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalaryTypes" />
  </wsdl:message>
  <wsdl:message name="GetSalaryTypesSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalaryTypesResponse" />
  </wsdl:message>
  <wsdl:message name="GetHoursForApprovalSoapIn">
    <wsdl:part name="parameters" element="tns:GetHoursForApproval" />
  </wsdl:message>
  <wsdl:message name="GetHoursForApprovalSoapOut">
    <wsdl:part name="parameters" element="tns:GetHoursForApprovalResponse" />
  </wsdl:message>
  <wsdl:portType name="TimeServiceSoap">
    <wsdl:operation name="GetTimeSettings">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the time module settings for the currently active user</wsdl:documentation>
      <wsdl:input message="tns:GetTimeSettingsSoapIn" />
      <wsdl:output message="tns:GetTimeSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkTypeList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of WorkTypes.</wsdl:documentation>
      <wsdl:input message="tns:GetWorkTypeListSoapIn" />
      <wsdl:output message="tns:GetWorkTypeListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of Projects.</wsdl:documentation>
      <wsdl:input message="tns:GetProjectListSoapIn" />
      <wsdl:output message="tns:GetProjectListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get information about a project.</wsdl:documentation>
      <wsdl:input message="tns:GetProjectDataSoapIn" />
      <wsdl:output message="tns:GetProjectDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveHour">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds an hour to the time system</wsdl:documentation>
      <wsdl:input message="tns:SaveHourSoapIn" />
      <wsdl:output message="tns:SaveHourSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteHour">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes an hour from the time system</wsdl:documentation>
      <wsdl:input message="tns:DeleteHourSoapIn" />
      <wsdl:output message="tns:DeleteHourSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCost">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a cost</wsdl:documentation>
      <wsdl:input message="tns:AddCostSoapIn" />
      <wsdl:output message="tns:AddCostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCosts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets a list of costs based on search parameters</wsdl:documentation>
      <wsdl:input message="tns:GetCostsSoapIn" />
      <wsdl:output message="tns:GetCostsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHours">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets hours</wsdl:documentation>
      <wsdl:input message="tns:GetHoursSoapIn" />
      <wsdl:output message="tns:GetHoursSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSalaryTypes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets Salary Types</wsdl:documentation>
      <wsdl:input message="tns:GetSalaryTypesSoapIn" />
      <wsdl:output message="tns:GetSalaryTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHoursForApproval">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets hours pending for approval</wsdl:documentation>
      <wsdl:input message="tns:GetHoursForApprovalSoapIn" />
      <wsdl:output message="tns:GetHoursForApprovalSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TimeServiceSoap" type="tns:TimeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTimeSettings">
      <soap:operation soapAction="http://24sevenOffice.com/webservices/GetTimeSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkTypeList">
      <soap:operation soapAction="http://24sevenOffice.com/webservices/GetWorkTypeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectList">
      <soap:operation soapAction="http://24sevenOffice.com/webservices/GetProjectList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectData">
      <soap:operation soapAction="http://24sevenOffice.com/webservices/GetProjectData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveHour">
      <soap:operation soapAction="http://24sevenOffice.com/webservices/SaveHour" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteHour">
      <soap:operation soapAction="http://24sevenOffice.com/webservices/DeleteHour" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCost">
      <soap:operation soapAction="http://24sevenOffice.com/webservices/AddCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCosts">
      <soap:operation soapAction="http://24sevenOffice.com/webservices/GetCosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHours">
      <soap:operation soapAction="http://24sevenOffice.com/webservices/GetHours" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalaryTypes">
      <soap:operation soapAction="http://24sevenOffice.com/webservices/GetSalaryTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHoursForApproval">
      <soap:operation soapAction="http://24sevenOffice.com/webservices/GetHoursForApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TimeServiceSoap12" type="tns:TimeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTimeSettings">
      <soap12:operation soapAction="http://24sevenOffice.com/webservices/GetTimeSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkTypeList">
      <soap12:operation soapAction="http://24sevenOffice.com/webservices/GetWorkTypeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectList">
      <soap12:operation soapAction="http://24sevenOffice.com/webservices/GetProjectList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectData">
      <soap12:operation soapAction="http://24sevenOffice.com/webservices/GetProjectData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveHour">
      <soap12:operation soapAction="http://24sevenOffice.com/webservices/SaveHour" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteHour">
      <soap12:operation soapAction="http://24sevenOffice.com/webservices/DeleteHour" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCost">
      <soap12:operation soapAction="http://24sevenOffice.com/webservices/AddCost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCosts">
      <soap12:operation soapAction="http://24sevenOffice.com/webservices/GetCosts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHours">
      <soap12:operation soapAction="http://24sevenOffice.com/webservices/GetHours" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalaryTypes">
      <soap12:operation soapAction="http://24sevenOffice.com/webservices/GetSalaryTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHoursForApproval">
      <soap12:operation soapAction="http://24sevenOffice.com/webservices/GetHoursForApproval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimeService">
    <wsdl:port name="TimeServiceSoap" binding="tns:TimeServiceSoap">
      <soap:address location="https://webservices.24sevenoffice.com/timesheet/v001/timeservice.asmx" />
    </wsdl:port>
    <wsdl:port name="TimeServiceSoap12" binding="tns:TimeServiceSoap12">
      <soap12:address location="https://webservices.24sevenoffice.com/timesheet/v001/timeservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>